* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.head {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    position: relative;
    font-size: 30px;
}

body {
    justify-content: center;
    align-items: center;
    position: sticky;
    min-width: fit-content;
    min-height: fit-content;
}

.bda {
    background-image: url("images/log.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: auto;
    object-fit: cover;
}

.bdi {
    background-color: rgb(238, 185, 13);
}

.bar {
    background-color: rgb(49, 47, 47);
    background-size: cover;
    width: 300px;
    height: 100%;
    padding-bottom: 30px;
}

.bar span {
    left: 10%;
    color: cyan;
}

.sidetxt {
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    left: 20%;
    font-size: 20px;
    color: #fff;
    transition: 0.5s;
    transition-property: none;
}

.sidetxt:hover {
    background-color: rgb(71, 71, 70);
    border-style: outset;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.0);
}

.content {
    position: relative;
    left: 105%;
    bottom: 500px;
    font-size: 20px;
    font-family: serif;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td,
th {
    white-space: nowrap;
    border: 2px solid black;
    text-align: left;
    padding: 8px;
    overflow: hidden;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

.input-field {
    color: black;
    font-family: serif;
    font-size: large;
    width: 500px;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.refresh {
    position: relative;
    left: 80%;
}